.form {
    margin-top: 100px;
    text-align: center;
}

.form h1 {
    font-size: 30px;
}

.form input {
	appearance: none;
	border-radius: 0;
}

.form .card {
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 425px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgb(0, 0, 0);
	padding: 2.5rem 30px;
}

.form .card-image {
	border-radius: 8px;
	overflow: hidden;
	padding-bottom: 65%;
	background-image: url('https://assets.codepen.io/285131/coffee_1.jpg');
	background-repeat: no-repeat;
	background-size: 150%;
	background-position: 0 5%;
	position: relative;
}

.form .card-heading {
	position: absolute;
	left: 10%;
	top: 15%;
	right: 10%;
	font-size: 1.75rem;
	font-weight: 700;
	color: #735400;
	line-height: 1.222;
	small {
		display: block;
		font-size: .75em;
		font-weight: 400;
		margin-top: .25em;
	}
}

.form .card-form {
	padding: 2rem 1rem 0;
}

.form .input {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	padding-top: 1.5rem;
	&+.input {
		margin-top: 1.5rem;
	}
}

.form .input-label {
	color: #8597a3;
	position: absolute;
	top: 1.5rem;
	transition: .25s ease;
}

.form .input-field,
.form .input-textarea {
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid #eee; 
	font: inherit;
	font-size: 1.125rem;
	padding: .25rem 0;
	&:focus, &:valid {
		outline: 0;
		border-bottom-color: var(--black-color);
		&+.input-label {
			color: var(--black-color);
			transform: translateY(-1.5rem);
		}
	}
}

.form .input-textarea {
    height: 200px;
}

.form .action {
	margin-top: 2rem;
}

.form .action-button {
	font: inherit;
	font-size: 1.25rem;
	padding: 10px;
	width: 100%;
	font-weight: 500;
	background-color: var(--black-color);
	border-radius: 6px;
	color: #FFF;
	border: 0;
    cursor: pointer;
    transition: 300ms;
	&:focus {
		outline: 0;
	}
}

.form .action-button i {
    transform: translateX(5px);
    transition: 300ms;
}

.form .action-button:hover i {
    transform: translateY(-50px) translateX(50px);
    transition: 300ms;
    z-index: -999;
    margin-right: -25px;
}

.form .action-button:hover {
    transform: scale(1.1);
}

/* RESPONSIVE */
@media only screen and (max-width: 900px) {

    main {
        padding: 0 25px;
    }

    p,
    ul,
    li,
    ol {
        font-size: 15px;
    }

    .navbar {
        padding: 15px 41px 15px 41px
    }

    .form .card {
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 425px;
        border-style: solid;
        border-color: var(--black-color);
        border-radius: 10px;
        box-shadow: 0 10px 20px 0 rgba(153, 153, 153, 0.25);
        padding: 2.5rem 30px;
        background-color: var(--white-color);
    }

    .form .formy {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
    }

    .form input,
    .from textarea {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    main {
        padding: 0 35px;
    }
}

@media only screen and (width: 1024px) {

    main {
        padding: 0 35px;
    }
}